.markdown-body pre {
	background: var(--color-1) !important;
	border-radius: 5px !important;

}

code[class*="language-"],
pre[class*="language-"],
.token {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
	text-shadow: none !important;
	color: var(--color-code-default) !important;
	background: var(--color-1) !important;
}

.token.string {
	color: var(--color-code-string) !important;
}

.token.function {
	/*
	color: var(--color-code-function);
	*/
}

.token.number {
	color: var(--color-code-number) !important;
}

.token.comment {
	color: var(--color-code-comment) !important;
}


.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--color-code-keyword) !important;
}

.token.keyword + .token.function {
	color: var(--color-code-function) !important;
}

.token.tag {
	color: #E8BF6A !important;
}