.markdown-body h1:nth-child(2){
	margin-top: 0px !important;
}

.page-separator-close{
	margin-left: -15pt;
	margin-right: -15pt;
	border-radius: var(--content-round);
	height: calc(2 * var(--content-round));
	clip-path: inset(var(--content-round) 0pt calc(0pt - var(--content-round)) 0pt);
	box-shadow: 0pt 0pt 5pt 5pt rgba(0, 0, 0, 0.25);
}

.page-separator-open{
	margin-left: -15pt;
	margin-right: -15pt;
	border-radius: var(--content-round);
	height: calc(2 * var(--content-round));
	clip-path: inset(calc(0pt - var(--content-round)) 0pt calc(var(--content-round)) 0pt);
	box-shadow: 0pt 0pt 5pt 5pt rgba(0, 0, 0, 0.25);
}

.transparent-table,
.transparent-table td,
.transparent-table th,
.transparent-table th,
.transparent-table tr,
.transparent-table tr:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.transparent-link {
	color: var(--color-text-2) !important;
}

/*
	Default MD
*/

:host {
	contain: none !important;
}

.markdown-body hr {
	background-color: var(--color-6) !important;
	height: 0.20em;
	border-radius: 2px;
}

.markdown-body h1, 
.markdown-body h2, 
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6 {
	font-weight: 400 !important;
	color: var(--color-text-1);
	border-bottom: 0px;
}