:root {
	--bar-width: 200pt;
	--top-bar-height: 50pt;

	--content-round: 10pt;
}
/*
:root {
	--color-background: rgb(230, 230, 230);
	--color-content: rgb(240, 240, 240);
	--color-text: rgb(50, 50, 50);
	--color-text-light: rgb(160, 160, 160);
	--color-text-semilight: rgb(100, 100, 100);
	--color-title: rgb(240, 240, 240);
	--color-btn-hover: rgb(220, 220, 220);
	--color-btn-selected: rgb(200, 200, 200);
}
*/
/*
@media (prefers-color-scheme: dark) {
	*/
	
	:root {
		color-scheme: dark;
		--color-0: rgb(30, 30, 30);
		--color-1: rgb(40, 40, 40);
		--color-2: rgb(48, 48, 48);
		--color-3: rgb(50, 50, 50);
		--color-4: rgb(55, 55, 55);
		--color-5: rgb(60, 60, 60);
		--color-6: rgb(65, 65, 65);

		--color-button-hover: rgb(60, 60, 60);
		--color-button-selected: rgb(50, 50, 50);

		--color-text-1: rgb(230, 230, 230);
		--color-text-2: rgb(200, 200, 200);
		--color-text-3: rgb(140, 140, 140);

		--color-code-default: rgb(169, 183, 198);
		--color-code-keyword: rgb(204, 120, 50);
		--color-code-function: rgb(255, 198, 109);
		--color-code-string: rgb(106, 135, 89);
		--color-code-comment: rgb(128, 128, 128);
		--color-code-number: rgb(104, 151, 187);
	}
/*
}
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

* {
	margin: 0px;
	padding:0px;
	font-family: roboto;
	color: var(--color-text-2);
	box-sizing: content-box !important;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-1);
}

.table {
	display: flex; 
	gap: 15pt; 
	flex-wrap: wrap;
}

.table-triple {
	display: grid;
  grid-template-columns: repeat(auto-fill, 196pt);
  grid-gap: 15pt;
  justify-content: space-evenly;
}

.table:last-child { margin-right: auto; }

.page-centered {
	padding-left: 8pt;
	margin: auto;
	max-width: 1050pt;
}

#header {
	width: 100%;
	height: var(--top-bar-height);
	position: fixed;
	background: var(--color-0);
	z-index: 100;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

#header .title-container{
	display: flex;
	align-items: center;
	height: 100%;
}

#header .title{
	cursor: pointer;
	display: inline-block;
	transform: translate(-60pt, 0);
	transition: all 0.3s ease;
}

#header .menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-2);
	width: 60pt;
	height: var(--top-bar-height);
	font-size: 20pt;
	opacity: 0;
	cursor: default;
}

#header .menu-button i {
	color: inherit;
}

#header .menu-button:hover {
	color: var(--color-text-1);
}

#header .title img{
	width: 36pt;
	transition: all 0.3s ease;
} 

#header .title a:nth-of-type(1) {
	color: var(--color-text-1);
	font-size: 40pt;
	transition: all 0.3s ease;
}

#header .title a:nth-of-type(2) {
	color: var(--color-text-1);
	font-size: 15pt;
	margin-left: 2pt;
	transition: all 0.3s ease;
}

#content{
	padding-top: calc(var(--top-bar-height) + 10pt);
	min-height: 100%;
}

#page-left {
	z-index: 99;
	min-height: auto;
	width: var(--bar-width);
	height: 100%;
	float: left;
	padding-right: 10pt;
	position: fixed;
	transition: all 0.3s ease;
}

#page-center {
	min-height: auto;
	float: left;
	width: calc(100% - var(--bar-width)*2 - 30pt);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
	border-radius: var(--content-round);
	padding: 15pt;
	margin-bottom: 15pt;
	margin-left: calc(var(--bar-width) + 10pt);
	background-color: var(--color-2);
	transition: all 0.3s ease;
}

#page-right {
	margin-left: calc(var(--bar-width) + 883px);
	padding-left: 10pt;
	width: var(--bar-width);
	float: left;
	position: fixed;
	transition: all 0.2s ease;
}

#page-right div {
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	font-size: 17pt;
	height: 34pt;
	color: var(--color-text-3);
	transition: all 0.2s ease;
}

#page-right div:before{
	opacity: 0;
	content: "\203A";
	width: 0px;
}

#page-right div:hover {
	color: var(--color-text-2);
}

#page-right div.selected {
	font-size: 20pt;
	color: var(--color-text-2);
	padding-left: 5pt;
}

#page-right div.selected:before {
	opacity: 1;
	width: auto;
  margin-right: 5pt;
}

#bottom {
	position: absolute;
	float: left;
	height: 60pt;
	width: calc(100% - 10pt);
	margin-top: 100pt;
	padding-top: 10pt;
	background: var(--color-0);
	padding-left: 10pt;
	z-index: 99;
	
}

#bottom * {
	color: var(--color-text-3);
}

.anchor {
	cursor: pointer;
	font-size: 9pt;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 3pt !important;
	margin-left: -16px !important;
	opacity: 0;
	transition: all 0.2s ease;
}

h1:hover > .anchor {
	opacity: 1;
}

.anchor i {
	color: var(--color-text-3);
	transition: all 0.2s ease;
}

.anchor:hover i {
	color: var(--color-text-2);
}

.button {
	margin-bottom: 10pt;
	
	font-size: 15pt;

	height: 35pt;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.button i{
	width: 32pt;
	text-align: center;
}

.button:hover{
	background: var(--color-button-hover);
}

.button-selected {
	background: var(--color-button-selected);
	box-shadow: none;
}

.sub-button-container {
	padding-left: 25pt;
	height: 0px;
	overflow: hidden;
  transition: all 0.3s ease;
}

.sub-button {
	margin-bottom: 4pt;
	padding-left: 8pt;
	font-size: 13pt;

	height: 25pt;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.sub-button:hover{
	background: var(--color-button-hover);
}

@media (max-width: 1430px) {
	#header .title{
		transform: translate(0, 0);
	}

	#header .menu-button {
		opacity: 1;
		cursor: pointer;
	}

	.page-centered {
		padding-left: 8pt;
		margin: auto;
		max-width: 1050pt;
	}

	#page-center {
		width: 827px;
		margin-left: calc((100% - 837px - var(--bar-width))/2);
	}

	#page-left {
		min-height: auto;
		width: var(--bar-width);
		padding-right: 10pt;
		position: fixed;
		transform: translate(calc(-20pt - var(--bar-width)), 0);

		opacity: 0;
		padding-left: 10pt;
		padding-top: 10pt;
		margin-top: -10pt;
		margin-left: -10pt;
	}

	#page-right {
		margin-left: calc((100% - 837px - var(--bar-width))/2 + 837px + 20pt);
	}

	.page-left-expanded {
		transform: translate(0, 0) !important;
		opacity: 1 !important;
		background: var(--color-0);
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 1100px) {

	#content{
		padding-top: var(--top-bar-height);
	}

	.page-centered {
		padding-left: 0pt;
	}

	#page-center {
		width: calc(100% - 15pt*2);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		border-radius: 0;
		padding: 15pt;
		margin-bottom: 0pt;
		margin-left: 0pt;
		background-color: var(--color-2);
	}

	#page-left {
		margin-top: 0pt;
		margin-left: 0pt;
	}

	#page-right {
		margin-left: calc(var(--bar-width)*2 + 905px);
	}
}

@media (max-width: 500px) {
	#header .title img{
		width: 26pt;
	} 

	#header .title a:nth-of-type(1) {
		font-size: 30pt;
	}

	#header .title a:nth-of-type(2) {
		font-size: 10pt;
	}
}