
music-player {
	height: 80px;
	width: 300px;
	border-radius: 8px;
	display: flex;
	background: rgba(0, 0, 0, 0.1);
	transition: all 0.15s ease;

	--progress-size: 4px;
	--volume-size: 5px;
	--slider-size: 10px;
}

.player_playing {
	background: rgba(0, 0, 0, 0.2);
}

#player_image_container {
	width: 80px;
}

#player_information_container {
	width: calc(100% - 80px);
	padding: 0 0 0 0;
	font-size: 14px;
	font-family: sans-serif;
}

#player_logo {
	height: 80px;
	width: 80px;
	position: absolute;
	object-fit: cover;
	background: rgba(0, 0, 0, 0);
	border-radius: 8px 0 0 8px;

	animation-duration: 1s;
	animation-name: fade;
}

#player_logo_icon {
	height: 80px;
	width: 80px;
	border-radius: 8px 0 0 8px;
	position: absolute;
	object-fit: cover;
	color: black;
	background: rgba(0, 0, 0, 0);
}

#player_play_button {
	height: 80px;
	width: 80px;
	font-size: 19pt;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	border-radius: 8px 0px 0px 8px;
	cursor: pointer;
	transition: all 0.15s ease;
	color: rgba(255, 255, 255, 1);
	opacity: 0;
}

.player_hover #player_play_button {
	opacity: 1;
}

.player_playing #player_play_button {
	opacity: 1;
}

#player_head {
	display: flex;
}

#player_information {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	padding-left: 8pt;
	cursor: pointer;
	width: 100%;
}

#player_volume {
	padding-right: 8pt;
	padding-left: 4pt;
	margin-bottom: 10px;
	transition: all 0.15s ease;
	width: 26pt;
	display: flex;
	border-radius: 8px;
	z-index: 200;
	opacity: 0;
}

.player_selected #player_volume:hover {
	width: 200pt;
	background: rgba(255, 255, 255, 0.08);
	box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.07);
	padding-top: 0px;
	padding-left: 8pt;
}

.player_selected #player_volume {
	opacity: 1;
}

#player_volume i {
	padding-top: 13px;
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.15s ease;
	font-size: 10pt;
}

#player_volume_bar {
	width: 60pt;
	height: 100%;
	margin-left: 10pt;
	display: flex;
	flex-wrap: wrap;
    align-content: center;
    transition: opacity 0.15s ease;
    opacity: 0;
}

.player_selected #player_volume:hover #player_volume_bar {
	opacity: 1;
}

#player_volume_full {
	height: var(--volume-size);
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	transform: translate(0, 50%);
	border-radius: var(--volume-size);
}

#player_volume_current {
	height: var(--volume-size);
	width: 20%;
	min-width: var(--volume-size);
	transform: translate(0, -50%);
	background: rgba(255, 255, 255, 0.8);
	border-radius: var(--volume-size);
}

#player_title {
	padding-top: 5pt;
	font-weight: 600;
}

#player_singer {
	font-weight: 200;
}

#player_progress {
	padding: 5px 8pt 0 8pt;
	height: 30px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

#player_progress_duration {
	width: 35px;
	font-size: 13px;
	font-weight: 200;
	display: flex;
    justify-content: flex-end;
}

#player_progress_bar {
	width: calc(100% - 40px);
	height: var(--progress-size);
}

#player_progress_current {
	position: relative;
	height: var(--progress-size);
	top: calc(0px - var(--progress-size));
	border-radius: var(--progress-size);
	background: rgba(255, 255, 255, 0.2);
	width: 0%;
	transition: all 0.15s ease;
}

.player_playing #player_progress_current {
	background: white;
}

#player_progress_full {
	position: relative;
	height: var(--progress-size);
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: var(--progress-size);
}

#player_progress_slider {
	position: relative;
	font-size: var(--slider-size);
	width: var(--slider-size);
	height: var(--slider-size);
	margin-left: calc(0px - var(--slider-size)/2);
	margin-top: calc(0px - var(--progress-size) - var(--progress-size)/2);
	transform: translate(0, -50%);
	left: 0%;
	transition: all 0.15s ease;
	opacity: 0;
}

.player_playing #player_progress:hover #player_progress_slider{
	opacity: 1;
}

@keyframes fade {
	from {
		opacity: 0;
  	}
  	to {
    	opacity: 1;
  	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Old versions of Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;	/* Android tap */
}